$breakpoint-mobile-max: 768px;
$breakpoint-mobile-height: 600px;
$breakpoint-mid-mobile: 800px;
$breakpoint-tablet-small: 1023px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1025px;
$breakpoint-large-laptops: 1200px;
$breakpoint-large: 1366px;
$breakpoint-laptop-max: 1536;
$breakpoint-max: 1800px;
$breakpoint-x-large: 1920px;
