/* autoprefixer grid: autoplace */
@use "./colors.scss" as colors;

@mixin flexBox($direction: row, $align: flex-start, $justify: flex-start) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin commonGrid($gtc: 1fr, $col-gap: unset, $row-gap: unset, $gtr: 1fr) {
  display: grid;
  grid-template-columns: $gtc;
  grid-column-gap: $col-gap;
  grid-template-rows: $gtr;
  grid-row-gap: $row-gap;
}

@mixin custom-scrollbar(
  $custom-height: 0.6rem,
  $custom-width: 0.6rem,
  $thumb-color: colors.$mercury-darkest
) {
  &::-webkit-scrollbar {
    width: $custom-width;
    height: $custom-height;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
  }

  // Moz Support
  & {
    scrollbar-color: $thumb-color transparent;
    scrollbar-width: thin;

    scrollbar-track-color: transparent;
    scrollbar-face-color: $thumb-color;
    scrollbar-arrow-color: white;
    scrollbar-shadow-color: white;
  }
}

@mixin boxShadow($arguments) {
  -webkit-box-shadow: $arguments;
  -moz-box-shadow: $arguments;
  -ms-box-shadow: $arguments;
  -o-box-shadow: $arguments;
  box-shadow: $arguments;
}

@mixin fontValues(
  $font-size: 16px,
  $font-weight: normal,
  $font-stretch: normal,
  $font-style: normal,
  $line-height: normal,
  $letter-spacing: normal
) {
  font-size: $font-size;
  font-weight: $font-weight;
  font-stretch: $font-stretch;
  font-style: $font-style;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}
